.page {
  max-width: 900px;
  margin: auto;
  & > :first-child {
    font-size: 2rem;
  }

  .report {
    display: grid;
    grid-template-columns: 1fr 3fr;

    label {
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
}
