@import "styles/colors";

.main {
  max-width: 800px;
  margin: auto;

  h4 {
    padding-inline-start: 1rem;
    color: #1e88e5;
    animation: hielght 1s 0.3s;
  }

  b {
    display: inline-block;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
    font-size: larger;
  }

  section {
    background-color: $dark_row;
    padding: 1rem 2rem;
    & :first-child {
      font-weight: bold;
    }
  }

  .clickable {
    cursor: pointer;
  }
}

@keyframes hielght {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
